[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ox"]
	path = ox
	url = https://github.com/gogonzo/ox
[submodule "runner"]
	path = runner
	url = https://github.com/gogonzo/runner
[submodule "sport"]
	path = sport
	url = https://github.com/gogonzo/sport
[submodule "teal.logger"]
	path = teal.logger
	url = https://github.com/cran/teal.logger
